<table id="user_list">
<tr>
<th>Username</th>
<th>First Name</th>
<th>Last Name</th>
<th>Email Address</th>
<th>Active?</th>
</tr>
<% @users.each do |user| %>
<tr>
<td><%= user.login%></td>
<td><%= user.first_name %></td>
<td><%= user.last_name %></td>
<td><%= user.email %></td>
<td><%= user.active %></td>
<td class="edit list_button"><%= link_to "Edit", edit_user_path(user) %></td>
<td class="activate list_button"><%= link_to "Activate", activate_user_path(user), action: "activate", data: {confirm: "Are you sure?" }, method: :post %></td>
<td class="deactivate list_button"><%= link_to "Deactivate", deactivate_user_path(user), action: "deactivate", data: {confirm: "Are you sure?" }, method: :post %></td>
<td class="remove list_button"><%= link_to "Remove", user, method: :delete, data: {confirm: "Are you sure?" } %></td>
</tr>
<% end %>
</table>
